.card {
    background-color: #EBD9FF;
    width: 450px;
    min-height: 360px;
    height: auto;
    text-align: center;
    padding: 15px 20px;
    border-radius: 10px;
}

.title {
    margin-top: 50px;
}

.title,
.paragraph {
    background-color: inherit;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .paragraph {
        font-size: 14px;
        padding: 0 90px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}