.contactInfo,
.information {
    background-color: inherit;
}

.information {
    margin: -10px 0;
}

.contactInfo p {
    margin-bottom: 30px;
}

.directSocials {
    background-color: inherit;
    position: relative;
    left: -70px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .contactInfo {
        padding-top: 20px;
        margin-left: -15px;
    }

    .directSocials {
        padding-top: 40px;
        left: -60px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}