.article {
    background-color: #EDDEFF;
    font-size: 16px;
    overflow-y: hidden;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 90vw;
}

.articleImg {
    text-align: center;
    background-color: inherit;
    margin-top: 40px;
    height: 500px;
    width: 90vw;
}

.articleTitle {
    background-color: inherit;
    opacity: 80%;
    padding: 20px;
    text-align: center;
}

.articleContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.articleGoal,
.articleLF,
.articleFeatures,
.articleProcess,
.articleLink,
.articleTags {
    opacity: 80%;
    font-size: 16px;
    height: auto;
    width: auto;
    padding: 40px;
    border: 1px solid #B1AEFF;
    border-radius: 10px;
    background-image: url(https://media.istockphoto.com/vectors/abstract-black-stripes-diagonal-background-vector-id1294603953?k=20&m=1294603953&s=612x612&w=0&h=KLAV73oMUFA2ucWMMTOdXT8Vn4LVUsh6NTiXRmlX5ZA=);
    color: white;
}

.articleGoal {
    width: 200px;
    height: auto;
}

.articleLF {
    width: 200px;
    height: auto;
}

.articleFeatures {
    width: 200px;
    height: auto;
}

.articleContent2 {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    gap: 5px;
}

.articleProcess {
    width: 70vw;
}

.articleLink {
    margin-top: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .article {
        width: 100vw;
    }

    .articleImg img{
        height: 300px;
        width: 101vw;
        margin-left: -40px;
    }

    .articleTitle {
        margin-top: -180px;
        margin-left: -30px;
        font-size: 22px;
    }

    .articleContent div {
        font-size: 14px;
        padding: 0 15px;
        margin-left: -10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .articleTitle {
        margin-left: 30px;
        font-size: 28px;
    }
}