.articles {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: center;
    gap: 20px;
    width: 90vw;
    margin-left: 5%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .articles {
        position: relative;
        top: 10px;
        left: -5%;
        width: 100vw;
    }
}