.servicesDiv {
    background-color: #EBD9FF;
    margin: 20px 0;
    padding: 10px 0;
    text-align: center;
    height: 230px;
    width: 80vw;
    position: relative;
    left: 10%;
    overflow-y: hidden;
}

.servicesDiv h2,
.service {
    background-color: #EBD9FF;
    opacity: 80%;
}

.services {
    background-color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.service,
.service p {
    background-color: #EDDEFF;
    width: 240px;
    height: 150px;
    padding: 10px 0;
}

.service p {
    margin-top: -5px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .servicesDiv {
        position: relative;
        top: 20px;
        width: 100vw;
        left: -10px;
        padding: 20px 10px 0 10px;
    }

    .service {
        overflow-x: hidden;
    }

    .services {
        gap: 15px;
    }

    .service p {
        font-size: 11px;
        margin-left: -65px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .servicesDiv {
        top: 30px;
        width: 105vw;
        padding: 20px 20px 0 20px;
        left: -5%;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .services {
        gap: 10px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .servicesDiv {
        width: 110vw;
    }
}